@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Space+Grotesk:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");


 .wrapper { display: none;}

 body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
  
  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    text-align: left;
    text-shadow: 1px 1px 3px #000000;
    color: rgb(7, 120, 196);
    background-color: rgb(112, 142, 189);
    padding: 10px;
    border-color: #911a11;

    /*font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;*/

    /*font-family: "Abel", sans-serif;
    font-weight: 600;
    font-style: normal;*/

    /* font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal; */

    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: normal;

    box-shadow: 0px 5px 10px #4779bb;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
  }

#gen button.btn-secondary {
    background-color: #5f6e7c;
    color: white;
    border-radius: 5px;
    margin-left: 10px; /* Spacing between Generate button and Copy button */
    padding: .375rem .75rem;
}

#gen .btn-secondary:hover {
    background-color: #5a6268;
}

  
.btn-primary:hover {
    background-color: #0056b3;
}
  
.d-grid {
    margin-top: 150px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: grid;
    gap: 10px;
}
  